.required {
    background-color: #ffd;
}

.heading {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    display: block;
}

a.centered {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    margin: 1px 0 0 2px; 
    padding: 0 6px;
    display: inline-block; 
    font-size: 9px; 
    line-height: 17px;
    background-color: #d54e21;
}

.poststuff {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.poststuff fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.poststuff td.left,.poststuff td.right {
    vertical-align: top;
}

.poststuff td.left {
    padding: 0 8px 0 0;
}

.poststuff td.right {
    /*padding: 0 0 0 8px;*/
    width: 210px;
}

.centered {
    vertical-align: middle;
}

.pull-left {
    text-align: left;
}

table {
    width:100%;
    border-spacing: 2px;
    border-collapse: separate;
}

tr {
    vertical-align: top;
}

td { 
    padding: 5px;
}

td.right ul,td.right ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

td.right ul li {
    margin: 0;
    padding: 0;
}

.width-30 {
    width: 30px;
}

.width-140 {
    width: 140px;
}

.width-full {
    width: 100%;
}

.poststuff p {
    margin: 0;
    padding: 5px 0;
}

.yi_warning:hover {
    background: #ce0000;
    color: #fff;
}

.poststuff ul {
    list-style: none;
}

.poststuff .mybullet {
    list-style-type: disc;
    padding-left: 20px;
}

.poststuff .info,.poststuff td small {
    color: #555;
    font-size: .85em;
}

.horizontal {
    margin: 0 auto;
}

.horizontal>li {
    float: left;
    margin-right: 10px;
    min-width: 120px;
}
