input.required {
    background-color: #ffd;
}

table#poststuff {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
}

table#poststuff fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

table#poststuff td.left,table#poststuff td.right {
    vertical-align: top;
}

table#poststuff td.left {
    padding: 0 8px 0 0;
}

table#poststuff td.right {
    padding: 0 0 0 8px;
    width: 210px;
}

td.right ul,td.right ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

td.right a {
    background-position: 0 60%;
    background-repeat: no-repeat;
    border: 0 none;
    display: block;
    padding: 4px 0 2px 22px;
    text-decoration: none;
}

td.right a.lhome {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADeACH///8AAABwQ/WkAAAABHRSTlP///8AQCqp9AAAAAFiS0dEAxEMTPIAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABAAAAAQAFzGrcMAAABHSURBVAjXY2BgYOBnEA0NDWYQCA0NYTgKIo6lpaUAiWVLGI4tS50CFVuWBuSGLQOylk5bAhH7GBrqwvCHgUGE4f///2DiAAAcwB84mfGumgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMi0wNC0xM1QxNDoyOToyMiswMjowMJVTIygAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTItMDQtMTNUMTQ6Mjk6MjIrMDI6MDDkDpuUAAAAAElFTkSuQmCC);
}

td.right a.lflattr {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAuxJREFUeNp0k11o1nUUxz+/3//leZ5tbqM5bdWKzSSGUNgLRRraJEMzvYhuLLsIggTrJsRQigRtF60guqioi4gCI1/Ai4GIvaHTMhL2UttIrUaONt32+Oz//N9+v9/p4mnD0g6cqy/ne77ne85RIsJ1Ia5Rstk2bN5wA1RhE1/XtQ3ihZF/LWKnRx7Pzx/ZbmfG7pZ48mZxefHfxCD5nAqXbT5UvG/nNgG1QJBfPPZKfGZfLzYBHYL2rxeWVgjvfPJY8f5Xnxn969vdtzavOKwB7NTgpvjkvrfIHVCHZAapRpAkYACjoFqh0Lm5r7Rq79PDE8f3/vT7wde08moK0sEDOySOlAobkDwj6Fj3td++qk+XWsrx6bf328sjreFdm04UH3lj69DEiV3f//rZrlLYZECJj0izvXyhCxfiqjFBx5r+uu43NwApIoskSfYHt689W9fds+VSebS7f+yTPZ4OsM4B4Lt4eqkrT7WKVUie47c/fBRIAXBGh8ufOFBYubUXiHJTbTHWgngYZRERfExWL3FawtVmVYWm2QXXvKBcfOjFlxdMFMQ6Cxi0MzUFgBbrwDokd2Cd5n9CcGJcXjsFawBBI0AuYP5JQc33H78ytNE60zBP4JzTxhqMNRhnEKFGIEYQA5Jk8xoZGD++s2/g3Y+VUgvHNHn1t3tyk2OsxVqXK6VjDbViV6kQdK4+V+h67ODwpe92HD33To+gsc4sTfKoc2Ti1Etnzh95QamAzKbUF28ary80/+mDws1VCDseGG587v0NQ5Onnzp8tuc9gJlocskHX23/JjXV+rlkpuRpD6V8qllEV9uaQ0DkSxoXgttWjjY9/9H64Ss/bvyi//UPtfbQyiM1sRdnc4uV0milMc6Q5FdZccvqHx5ctqUXQLmovERZG/5cHVv7+cndn1pnlfefPxAEBBpLLbP33rH+y0e7nt0TeMUpADX/zuPTv6wzNlustZ/dYINKKZW1NrQPlMJFf1wL/D0A8oqA9mgYb/oAAAAASUVORK5CYII=');
}

td.right a.lamazon {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAB3RJTUUH1wYQESUI53q1mgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAABgUExURerBhcOLOqB1OX1gOE5DNjc1NYKBgfGnPNqZO4hnOEM8NWZSN86SO1pKNnFZN7eDOuWgPJRuOVBOTpuamo+NjURCQubm5v///9rZ2WloaKinp11bW3Z0dPPy8srKyrSzs09bnaIAAACiSURBVHjaTY3ZFoMgDAUDchuruFIN1qX//5eNYJc85EyG5EIBBNACEibsimi5UaUURJtI5wm+KwgSJflVkOFscBUTM1vgrmacThfomGVLO9MhIYFsF8wyx6Jnl88HUxEay+wYmlM6oNKcNYrIC58iHMcIyQlZRNmf/2LRQUX8bYwh3PCYWmOGrueargdXGO5d6UGm5FSmBqzXEzK2cN9PcXsD9XsKTHawijcAAAAASUVORK5CYII=);
}

td.right a.lwp {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACWklEQVR42n1TyWoaUBR11UU+oJ/QQqHL0C/qwkU2bl2EYEiixeCQSRIFN4EEEodYDYRYUUwgQwuNrVoTcNiIaOtEnT2955LQkrR9cOG9e8857w7vGQyPltVqfbm8vGxfWVm5Ehvf2xV9jBn+twRostls3wOBQOLu7u5juVz+QeOePsaIeUKcn59/JoHYxsZGvlarFdLpNHw+H8QHi8WC7e1tXFxcoNFofCOGWHL+vNkhoE/NZrNN8NLS0l8tGo1C1k9iWdID+TVT6/V62ePjY0QiEayuriIcDuuetre3B6kfw+GQAhgMBmVyRPSV3i7g04dgoVCAy+VSgel0qr79/X3Y7XaUyiU9t5pNxk81CxHIVSqVK97OJU2D0+mEw+HA7e2t+o6OjvR8eBjQ883nG5Aj3C8UGIxGo8bW1habBNljZ2cHa2triMVimoVMAe+koT6vTwVkIpCSOZGmCvDg9XpxdnamhFQqBbfbrZ3neTweY319XUup1+vweDzo9/sU6FCgwHRCoRB2d3cxmUxQrVb1xmw2i0QioSLBYFCFT05OIKP8XYI0ws2GZDIZ+P1+lEolJRwcHGjti4uLEAeKxSJJEDzi8bg2kQN4GGO90+nkObJkMqkCrVZLp2EymSAxTCdT5HM5sFftdjtHDrn6FpiFPI7rbrfboYjMmSAICAsLC7i8vNQszs/PIY+tQ6ze/vgpb25ufuVTlgbpCDkNGrPiYkwwmSdP+fFnkoZ+kJqvhdOgcU/fvz7TjNhzsRdib2ZnZ98ajcb3ZrO5Mjc3Bxr39DFGzD2WnJlfboSSy4YB5JcAAAAASUVORK5CYII=);
}

td.right a.ltwitter {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB20lEQVR4nKWTPWhTURzFf+/mJXl5uby+JFaTfiwawWArQYmDU0GHTtKgc9VBEfxqVeokKuokVARDYxEpLh0KunQQFBR0EIu0RdpBKqh0EIy2tc9Y4/twKA3pCxRKzvi/95x77jn8Fc/zaASiIfZmBMSFoS7RVzy+oYA4X8jWXegrmmJgZBJpvszv29W5oYAmjVExMDIp+oerL0WNpivEklniKca/WqfF5Uc9tRylNsSjY+8+PPm00MFKGcq/XuG5J0KxrTMVo1lHDcKKhbr03bIXS+3u3VOLdQ7ymdZxogYkkhBPdonYtulKxNAJhiGggiaxZUxqTfGCuPTwaZ0DIJ0bnZ54v4yJY4PjgBpcJa/h31/4swzWEu61HsXfwtzZzuYXq8QQhLT1ZICASu+e9vmZM4feVr8gzt03186PdbTc7t0u5/FcUBR/6Ejh2ldzLfcyW2QeQAXQInpB9D8Yw/Om0KJmZmf6J064DdVn0HUYPJCa2mHqRcCqZvB5wbqRG3p++Ee5kiUUBhkD3VhnXwY8+3o2MXdxb+tJ4I2/RgncHJz40j08W2r7+NuTqEFQBFLFPpiMlG7tT83uTkTvAM9qTflb6AaOAOmamQW8Bh4D3/yZ+AU2jYa38T+I6JdNPFroagAAAABJRU5ErkJggg==);
}

td.right ul li {
    margin: 0;
    padding: 0;
}

table#poststuff p {
    margin: 0;
    padding: 5px 0;
}

input.yi_warning:hover {
    background: #ce0000;
    color: #fff;
}

table#poststuff .yifooter {
    font-size: .85em;
    text-align: center;
}

table#poststuff .yifooter a,table#poststuff .yifooter a:link {
    text-decoration: none;
}

table#poststuff ul {
    list-style: none;
}

table#poststuff ul.mybullet {
    list-style-type: disc;
    padding-left: 20px;
}

.yiinfo {
    font-size: 85%;
    line-height: 115%;
}

#help_link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAABOWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarZGxSsNQFIa/G0XFoVYI4uBwJ1FQbNXBjElbiiBYq0OSrUlDldIk3NyqfQhHtw4u7j6Bk6PgoPgEvoHi1MEhSHASwW/6zs/hcOAHo2LXnYZRhkGsVbvpSNfz5ewTM0wBQCfMUrvVOgCIkzjiJwI+XxEAz5t23WnwN+bDVGlgAmx3oywEUQH6FzrVIMaAGfRTDeIOMNVJuwbiASj1cn8BSkHub0BJuZ4P4gMwe67ngzEHmEHuK4Cpo0sNUEvSkTrrnWpZtSxL2t0kiOTxKNPRIJP7cZioNFEdHXWB/D8AFvPFdtORa1XL2lvnn3E9X+b2foQAxNJjkRWEQ3X+3YWx8/tc3Bgvw+EtTE+KbPcKbjZg4brIVqtQ3oL78RfCs0/+HAmzJwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAACNUlEQVR42gTB3UtTYQAH4N/7nnl2jstzlPmVTZ0uUtkozVKhpqxchOmNKRRasIsupJvSi4z+AIsQKii9s6skMLoqCLsQQjFiLTXWEsLj1Knb3Hbch9vcztvzEHPPBCghUJNpkstrrg5bzcAZc2krAKwrYffymn9Op6MzskFgGmMg9TeeQk2mLaZyeerBkN0p8BxCsRQoAYxyIVKZY7x6tzi/E1RHigzCPxpLpPnqiuLpybFeZySWxOZeDG1WE6oriuH2BXCc0zA51uesKpOmD5NpnuY17dbD4cvdv/4G8OTNF1SVSiiWRFy0mTA6bMf7+d/wbR5g9I69O5/XbnOOvrvPHBcsp5+/XQAhBOv+A0zMfIOOo+jrbMIP3y4Wfiq4edUGZTsi0obashY1kcbmngpZKkQ0mcXgtbMYd3XBuxFCIJwEIxxAKMynSlp0DAwEAM9zEAUeDBT3B9sh6gvw+oMboBwqjBL0fAEYY6DrSsgjF4mwWiqRzeVhLDHgu3cHUx/diMSzKJENaKgrg6jXYWv/0EOX1/yzwUgC9/rboTGCo0weV1rNcLbVAzoOgiig32HFqm8bSyvKLFdY5/D6NoIdQz3NlvONJuyE4rBZypHJaQgcHMHVew4kl8Wjl5++qvGjce6k7bq2H00sLXqUpnZrtaW3sxGHqWMwQtDVbMLqHz8ev/g879+Njkgn9GFi7pkAIQRqIk00jbkuNdcO1FTKrQCwFYy7Fz3KHAVmpCKBMcbwfwBoXucbGv0zEAAAAABJRU5ErkJggg==);
    display: inline-block;
    height: 12px;
    line-height: 12px;
    text-indent: -9999px;
    width: 12px;
}

table#poststuff .info,table#poststuff td small {
    color: #555;
    font-size: .85em;
}